@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";
@import "../animation/animation";

$alert: "#{$prefixCls}alert";

.#{$alert} {
    @include setH(40px);
    min-width: 100px;
    @include border(rgba($primary, .4), rgba($primary, .2));
    color: $primary;
    font-size: $font-size-base;
    padding: 0 10px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    
    &.#{$alert}-warning {
        @include border(rgba($warning, .4), rgba($warning, .2));
        color: $warning;
    }
    &-text {
        color: $main;
    }

    &.#{$alert}-success {
        @include border(rgba($success, .4), rgba($success, .2));
        color: $success;
    }

    &.#{$alert}-error {
        @include border(rgba($error, .4), rgba($error, .2));
        color: $error;
    }
}

@include fade(alert-fade, quiFade);