@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$avatar: "#{$prefixCls}avatar";

.#{$avatar} {
    display: inline-block;
    color: $white;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    background: #ccc;
    @include wh(32px);
    &.#{$avatar}-circle {
        border-radius: 50%;
    }
    &.#{$avatar}-square { 
        border-radius: 5px;
    }
    &.#{$avatar}-icon {
        .#{$prefixCls}icon {
            @include absolute;
            transform: translate(-50%, -50%);
        }
    }
    &.#{$avatar}-large {
        @include wh(40px);
    }
    &.#{$avatar}-small {
        @include wh(24px);
    }
    &.#{$avatar}-image {
        img {
            width: 100%;
            height: 100%;
        }
    }

}