@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$backtop: "#{$prefixCls}back-top";

.#{$backtop} {
    position: fixed;
    z-index: 999;
    &.#{$backtop}-default {
        cursor: $cursor-pointer;
        background-color: rgba(0, 0, 0, .5);
        @include wh(48px, 40px);
        border-radius: $border-radius-small;
        transition: all $animate-time $ease-in-out;
        &:hover {
            background-color: rgba(0, 0, 0, .6);  
        }
        .#{$prefixCls}icon {
            @include absolute;
            transform: translate(-50%, -50%);
            color: $white;
        }
    }
    &-back {
        cursor: $cursor-pointer;
    }
}