@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$badgePrefix: "#{$prefixCls}badge";

.#{$badgePrefix} {
    font-size: $font-size-small;
    color: #fff;
    background: $red;
    position: absolute;
    @include setH(22px);
    border-radius: 11px;
    padding: 0 6px;
}