@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$buttonPrefix: "#{$prefixCls}button";
$btn-border-hover: #f6f8fc;

.#{$buttonPrefix} {
    color: $white;
    background-color: $primary;
    padding: 0 20px;
    border: 1px solid;
    border-color: $primary;
    border-radius: $border-radius-middle;
    outline: none;
    box-sizing: border-box;
    transition: all $animate-time;
    cursor: $cursor-pointer;
    box-shadow: 0 2px 5px rgba($primary, .5);
    font-size: $font-size-base;
    @include setH(32px, 30px);
    &:hover {
        background-color: $primary-dark;
    }
    &:active {
        @extend .#{$buttonPrefix}:hover;
        @include boxShadow(#000, inset);
    }
    &:disabled {
        @include btnDisabled($primary, $primary, #999)
    }

    &-text {
        font-size: $font-size-base;
        vertical-align: middle; 
        white-space: nowrap;
    }
    
    //黑字无框，hover蓝字无框
    &.#{$buttonPrefix}-text {
        border-color: $white;
        box-shadow: none;
        background-color: $white;
        color: $main;
        &:hover {
            color: $primary;
        }
        &:active {
            @extend .#{$buttonPrefix}-text:hover;
        }
        &:disabled {
            color: $lightC;
        }
    }

    //黑字黑框，hover蓝字蓝框
    &.#{$buttonPrefix}-primary {
        border-color: $lightC;
        box-shadow: none;
        background-color: $white;
        color: $main;
        &:hover {
            color: $primary;
            border-color: $primary;
        }
        &:active {
            @extend .#{$buttonPrefix}-primary:hover;
        }
        &:disabled {
            color: $lightC;
            border-color: $lightC;
        }
    }

    //蓝框蓝字，hover底色变蓝
    &.#{$buttonPrefix}-empty {
        color: $primary; 
        background-color: $white; 
        border-color: $primary; 
        box-shadow: none;
        &:hover { 
            background-color: $primary-dark;
            color: $white;
            box-shadow: 0 2px 5px rgba($primary, .5);
        }
        &:active { 
            @extend .#{$buttonPrefix}-empty;
            box-shadow: none; 
        }
        &:disabled {  
            @include btnDisabled($white, $primary, rgba($primary, $disable-opacity))
        }
    }

    //绿色背景白字
    &.#{$buttonPrefix}-success {
        background-color: $success;
        border-color: $success;
        box-shadow: 0 2px 5px rgba($success, .5);
        &:hover {
            background-color: $green-dark;
        }
        &:active {
            @extend .#{$buttonPrefix}-success:hover;
            box-shadow: none;
        }
        &:disabled {
            @include btnDisabled($success, $success, $lightC)
        }
    }

    //红背景白字
    &.#{$buttonPrefix}-error {
        background-color: $error;
        color: $white;
        border-color: $error;
        box-shadow: 0 2px 5px rgba($red, .5);
        &:hover {
            background-color: $red-dark;
        }
        &:active {
            @extend .#{$buttonPrefix}-error:hover;
            box-shadow: none;
        }
        &:disabled {
            @include btnDisabled($error, $error);
        }
    }

    //橙背景白字
    &.#{$buttonPrefix}-warning {
        background-color: $orange;
        color: $white;
        border-color: $orange;
        box-shadow: 0 2px 5px rgba($orange, .5);
        &:hover {
            background-color: $orange-dark;
        }
        &:active {
            @extend .#{$buttonPrefix}-warning:hover;
            box-shadow: none;
        }
        &:disabled {
            @include btnDisabled($orange, $orange)
        }
    }

    //a
    &.#{$buttonPrefix}-link {
        background-color: $white;
        border: none;
        box-shadow: none;
        color: $primary;
        &:hover {
            color: $primary-dark;
        }
        &:active {
            @extend .#{$buttonPrefix}-link:hover;
        }
        &.#{$buttonPrefix}-link-disabled {
            opacity: $disable-opacity;
            cursor: $cursor-disabled;
            &:hover {
                opacity: $disable-opacity;
            }
            &:active {
                @extend .#{$buttonPrefix}-link-disabled:hover;
            }
        }
    }

    //设置尺寸
    &.#{$buttonPrefix}-large {
        @include setH(40px, 38px);
        padding: 0 35px;
        &-text {
            font-size: $font-size-large;
        }
    }

    &.#{$buttonPrefix}-small {
        @include setH(26px, 24px);
        padding: 0 10px;
        &-text {
            font-size: $font-size-small;
        }
    }
    &.#{$buttonPrefix}-long {
        @include setH(100%);
        width: 100%;
        text-align: center;
        &-text {
            font-size: $font-size-base;
        }
    }
    
}
