@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$checkbox: "#{$prefixCls}checkbox";

.#{$checkbox} {
    font-size: 0;
    cursor: pointer;
    &-icon { 
        position: relative; 
        display: inline-block; 
        @include wh(16px);
        border-radius: $border-radius-small; 
        margin-right: 10px; 
        font-size: $font-size-base; 
        vertical-align: middle; 
        border: 1px solid $lightC; 
        box-sizing: border-box; 
        transition: all $animate-time;
        // &::before { 
        //     content: ""; 
        //     display: none; 
        //     @include absolute();
        //     @include wh(8px, 2px);
        //     margin-left: -4px; 
        //     margin-top: -1px; 
        //     background-color: $white; 
        //     transition: all $animate-time;
        // }
        .checked {
            position: absolute;
            top: 1px;
            left: -1px;
            color: $white;
        }

        &.#{$checkbox}-active {
            @include border($primary, $primary);
            & + .#{$checkbox}-value {
                color: $main-dark;
            }
        }
        .#{$checkbox}-ipt {
            @include opacityCovert();
            cursor: $cursor-pointer;
        }
    }
    
    &-value {
        font-size: $font-size-base;
        color: $main;
        vertical-align: middle;
    }
    &:hover {
        .#{$checkbox}-icon {
            @include border($primary);
        }
    }
    // &-partial{
    //     .#{$checkbox}-icon {
    //         &.#{$checkbox}-active {
    //             @include border($primary, $primary);
    //             &::before {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
    &-disabled {
        cursor: $cursor-disabled;
        .#{$checkbox}-icon {
            @include border($lightC, $border-color);
            &.#{$checkbox}-active {
                & + .#{$checkbox}-value {
                    color: $main-light;
                }
            }
            .#{$checkbox}-ipt {
                cursor: $cursor-disabled;
            }
        }
        .checked {
            color: $main-light;
        }
        &:hover {
            .#{$checkbox}-icon { 
                @include border($lightC, $border-color);
            }
        }
        .#{$checkbox}-value {
            color: $main-light;
        }
    }
}