@charset "utf-8";
@import "../common/var";

$prefix: "#{$prefixCls}checkbox-group";
//qui-checkbox-group

.#{$prefix} {
    display: flex;
    .#{$prefixCls}checkbox {
        margin-right: 15px;
    }
    &.#{$prefix}-vertical {
        display: inherit;
    }
}