@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";
@import "../animation/animation";

$dropdownPrefix: "#{$prefixCls}dropdown";
.#{$dropdownPrefix} {
    // min-width: 100%;
    background-color: $white;
    box-shadow: 0 2px 14px 0 rgba(50, 60, 71, .15);
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    position: absolute;
    z-index: 998;
    &-item {
        padding: 0 15px;
        line-height: 32px;
        margin-top: 2px;
        color: $main;
        font-size: $font-size-small;
        @include no-wrap();
        background-color: $white;
        transition: all $animate-time;
        cursor: $cursor-pointer;
        &:first-child {
            margin-top: 0;
        }
        &:hover, &:active {
            background-color: $elebg;
        }
        &.theme-primary { 
            &:hover, &:active {
                background-color: $green-mask;
            }
        }
        &.#{$dropdownPrefix}-active {
            &.theme-primary {
                color: $green;
                background-color: $green-mask;
            }
            color: $blue;
            background-color: $elebg;
        }
        &.#{$dropdownPrefix}-disabled {
            cursor: $cursor-disabled;
            color: $lightC;
            background-color: $white;
            &:hover, &:active {
                background-color: $white;
            }
            &.#{$dropdownPrefix}-active {
                color: $blue-disabled;
            }
            &.theme-primary {
                color: $lightC;
                background-color: $white;
                &:hover, &:active {
                    background-color: $white;
                }
                &.#{$dropdownPrefix}-active {
                    color: $green-light;
                }
            }
        }
        
    }
    &-large {
        .#{$dropdownPrefix}-item {
            padding: 0 25px;
            line-height: 40px;
            // margin-top: 12px;
        }
    }
    &-small {
        .#{$dropdownPrefix}-item {
            padding: 0 10px;
            line-height: 26px;
            // margin-top: 4px;
        }
    }
    &-inherit {
        width: 100%;
    }
    &-list {
        padding: 10px 0;
    }
}
@include slide(transition-drop, quiTransitionDrop);

@keyframes quiTransitionDropIn {
    0% {
        opacity: 0;
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes quiTransitionDropOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0.8);
    }
}