@charset "utf-8";
@import "../common/var";

$emptyPrefix: "#{$prefixCls}empty";

.#{$emptyPrefix} {
    text-align: center;
    &-text {
        font-size: $font-size-base;
        color: $main;
        padding-top: 5px;
    }
}