@charset "utf-8";
@import "../common/var";

$empty: "#{$prefixCls}empty";

.#{$empty} {
    text-align: center;
    &-text {
        font-size: $font-size-base;
        color: $main;
        padding-top: 5px;
    }
    &-retry {
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
}