@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";
$input: "#{$prefixCls}input";

.#{$input}-main {
    vertical-align: middle;
    font-size: 0;
    line-height: 38px;
   
    .#{$input} {
        box-sizing: border-box;
        @include wh(240px, 38px);
        padding: 10px;
        @include border($lightC);
        outline: none;
        color: $main;
        font-size: $font-size-base;
        border-radius: $border-radius-middle;
        &:focus {
            border-color: $primary;
            outline: 0;
            box-shadow: 0 0 5px rgba($primary, .5);
        }
    }
    .#{$input}-picker {
        @extend .#{$input};
        @include wh(220px, 36px);
        &:focus {
            @extend .#{$input}:focus;
        }
    }
    .pick-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: $main;
    }
    ::-webkit-input-placeholder {
        color: $lightC;
    }
    .#{$input}-unit {
        font-size: $font-size-base;
        font-style: normal;
        color: $main;
        margin-left: 10px;
    }

    &.#{$input}-large {
        line-height: 46px;
        .#{$input} {
            padding: 15px 10px;
            font-size: $font-size-large;
            height: 46px;
        }
        .#{$input}-unit {
            font-size: $font-size-large;
        }
        .#{$input}-err {
            &.right {
                padding-top: 10px;
                margin-left: 10px;
            }
        }
    }

    &.#{$input}-middle {
        .#{$input}-err {
            &.right {
                padding-top: 5px;
                margin-left: 10px;
            }
        }
    }

    &.#{$input}-small {
        line-height: 26px;
        .#{$input} {
            padding: 5px 10px;
            font-size: $font-size-small;
            height: 26px;
        }
        .#{$input}-unit {
            font-size: $font-size-small;
        }
        .#{$input}-err {
            &.right {
                padding-top: 0px;
                margin-left: 10px;
            }
        }
    }

    &.#{$input}-error {
        &.#{$input}-right {
            display: flex;
        }
        .#{$input} {
            border-color: $error;
            color: $error;
            &:focus {
                border-color: $red-dark;
                box-shadow: 0 0 5px 0 $error;
            }
        }
        ::-webkit-input-placeholder {
            color: $error;
        }
        .#{$input}-err {
            @include setH(25px);
            &-text {
                color: $error;
                font-size: $font-size-small;
            }
            
        }
    }
    &.#{$input}-disabled {
        .#{$input} {
            cursor: $cursor-disabled;
            background: $elebg;
        }
    }
}