@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$menuPrefix: "#{$prefixCls}menu";
$dark: #515a6e;
$dark-open: #363e4f;
$dark-active: $blue;
$light: #f5f5f5;
$light-open: '';
$light-active: #f0faff;
$arrow: "http://p0.qhimg.com/t011244f24d2bbac6d4.png";


.#{$menuPrefix} {
    &-dark {
        .#{$menuPrefix}-list {
            background: $dark;
            color: rgba($white, .7);
        }
    }
    &-list {
        border-right: 1px solid $lightC;
        box-sizing: border-box;
        overflow: hidden;
        font-size: $font-size-base;
    }
    &-item {
        &-title {
            position: relative;
            padding: 14px 24px;
            cursor: $cursor-pointer;
            transition: all $animate-time ease-in-out;
            a {
                color: inherit;
            }
        }
        &-sub {
            position: absolute;
            @include wh(14px);
            // top: 50%;
            // transform: translateY(-50%);
            right: 10px;
            // background: url($arrow) no-repeat center;
            transition: all $animate-time;
            &.#{$menuPrefix}-item-sub-down {
                transform: rotate(0deg);
                
            }
            &.#{$menuPrefix}-item-sub-up {
                transform: rotate(-180deg) translateY(-7px);
            }
        }
        &-children {
            .item {
                padding: 14px 24px;
                padding-left: 34px;
                cursor: $cursor-pointer;
                transition: all $animate-time ease-in-out;
                a {
                    color: inherit;
                }
            }
        }
    }
    &-dark {
        .#{$menuPrefix}-item {
            &-title {
                &:hover {
                    color: $white;
                }
                &.item-title-active {
                    background: $blue;
                    color: $white;
                }
            }
            &-children {
                background: $dark-open;
                .item {
                    &-active {
                        background: $dark-active;
                        color: $white;
                    }
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    &-light {
        .#{$menuPrefix}-list {
            // background: $light;
            color: $main;
        }
        .#{$menuPrefix}-item {

            &-title {
                &.green-list {
                    &:hover {
                        color: $green;
                    }
                    &.item-title-active {
                        color: $green;
                        background: $green-mask;
                        &::after {
                            background: $green;
                        }
                    }
                }
                &:hover {
                    color: $blue;
                }
                &.item-title-active {
                    background: $light-active;
                    color: $blue;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 100%;
                        background: $blue;
                        right: 0;
                        top: 0;
                    }
                }
            }
            &-children {
                background: $white;
                .item {
                    &.green-item {
                        &:hover {
                            color: $green;
                        }
                        &.item-active {
                            color: $green;
                            background: $green-mask;
                            &::after {
                                background: $green;
                            }
                        }
                    }
                    &-active {
                        background: $light-active;
                        color: $blue;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 2px;
                            height: 100%;
                            background: $blue;
                            right: 0;
                            top: 0;
                        }
                    }
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }


    .svg-icon {
        width: 14px; 
        height: 14px;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
    }
}