@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";
@import "../animation/_animation";
// @import "../animation/_transition";

$menu: "#{$prefixCls}menu";
$dark: #515a6e;
$dark-open: #363e4f;
$dark-active: $blue;

.#{$menu} {
    &-dark {
        .#{$menu}-list {
            background: $dark;
            color: rgba($white, .7);
        }
    }
    &-list {
        border-right: 1px solid $lightC;
        box-sizing: border-box;
        overflow: hidden;
        font-size: $font-size-base;
    }
    &-item {
        &-title {
            position: relative;
            padding: 14px 24px;
            cursor: $cursor-pointer;
            transition: all $animate-time ease-in-out;
            a {
                color: inherit;
            }
        }
        .#{$menu}-arrow {
            position: absolute;
            right: 10px;
            transition: all $animate-time;
            &-down {
                transform: rotate(0deg);
            }
            &-up {
                transform: rotate(-180deg);
            }
        }
        &-children {
            .item {
                padding: 14px 24px;
                padding-left: 34px;
                cursor: $cursor-pointer;
                transition: all $animate-time ease-in-out;
                a {
                    color: inherit;
                }
            }
        }
    }
    &-dark {
        .#{$menu}-item {
            &-title {
                &:hover {
                    color: $white;
                }
                &.item-title-active {
                    background: $blue;
                    color: $white;
                }
            }
            &-children {
                background: $dark-open;
                .item {
                    &-active {
                        background: $dark-active;
                        color: $white;
                    }
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    &-light {
        .#{$menu}-list {
            color: $main;
        }
        .#{$menu}-item {
            &-title {
                &:hover {
                    color: $primary;
                }
                &.item-title-active {
                    background: rgba($primary, .1);
                    color: $primary;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 100%;
                        background: $primary;
                        right: 0;
                        top: 0;
                    }
                }
            }
            &-children {
                background: $white;
                .item {
                    &-active {
                        @extend .#{$menu}-item-title.item-title-active;
                        &::after {
                            @extend .#{$menu}-item-title.item-title-active::after;
                        }
                    }
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}

@include slide(transition-menu-drop, quiTransitionDrop);
