@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$msgPrefix: "#{$prefixCls}message";

.#{$msgPrefix} {
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    &-mask {
        @include mask(rgba($black, .1), 1);
    }
    &-main {
        position: relative;
        padding: 32px 32px 24px;
        z-index: 1001;
        background-color: $white;
        display: inline-block;
        box-shadow: 0 2px 8px rgba($black, .05);
        border-radius: $border-radius-large;
        box-sizing: border-box;
        overflow: hidden;
        .#{$msgPrefix}-text {
            display: flex;
        }

        .#{$msgPrefix}-content {
            font-size: $font-size-base;
            color: $main;
            width: 250px;
            text-align: left;
            line-height: 28px;
        }


    }
    &-btn {
        padding-top: 30px;
        text-align: right;
    }
}

