@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$msgPrefix: "#{$prefixCls}message";
$success: "http://p0.qhimg.com/t017effeb70a307579f.png";
$warning: "http://p0.qhimg.com/t01a094bb64666cf4d4.png";
$error: "http://p0.qhimg.com/t0104826990b6fb9bfa.png";
$i: "icon";

.#{$msgPrefix} {
    text-align: center;
    &-mask {
        @include mask(rgba($black, .1), 1);
    }
    &-main {
        position: relative;
        padding: 32px 32px 24px;
        z-index: 1000;
        background-color: $white;
        display: inline-block;
        box-shadow: 0 2px 8px rgba($black, .05);
        border-radius: $border-radius-large;
        box-sizing: border-box;
        overflow: hidden;
        .#{$msgPrefix}-text {
            display: flex;
        }
        .#{$msgPrefix}-icon {
            display: block;
            @include wh(32px);
            margin-right: 8px;
            &.success-icon {
                background: url(#{$success}) no-repeat;
            }
            &.warning-icon {
                background: url(#{$warning}) no-repeat;
            }
            &.error-icon {
                background: url(#{$error}) no-repeat;
            }
        }

        .#{$msgPrefix}-content {
            font-size: $font-size-base;
            color: $main;
            width: 250px;
            text-align: left;
            line-height: 28px;
        }


    }
    &-btn {
        padding-top: 30px;
        text-align: right;
    }
}

