@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$modal: "#{$prefixCls}modal";
.#{$modal} {
    position: absolute;
    left: 50%;
    top: 20%;
    &-mask {
        @include mask(rgba($black, .2), 999);
    }
    &-main {
        position: relative;
        background-color: $white;
        box-shadow: 0 2px 8px rgba($black, .05);
        border-radius: $border-radius-large;
        box-sizing: border-box;
        overflow: hidden;
        .#{$modal}-header {
            padding: 35px 50px 15px 20px;
            box-shadow: 0 2px 8px 0 rgba($black, .05);
            position: relative;
            &-title {
                font-size: $font-size-large;
                color: $main-dark;
                @include no-wrap();
            }
            &-close {
                position: absolute;
                cursor: $cursor-pointer;
                top: 30px;
                right: 20px;
            }
        }
        .#{$modal}-container {
            padding: 35px 20px;
        }
        .#{$modal}-footer{
            padding: 25px 40px 20px;
            border-top: 1px solid $border-color;
            display: flex;
            flex-direction: row-reverse;
            &-btn {
                button {
                    margin: 0 10px;
                }
            }
        }
    }
    .modal-slide-down-enter, .modal-slide-down-leave-to {
        opacity: 0;
        transform: translateY(-400px);
    }
    .modal-slide-down-enter-active, .modal-slide-down-leave-active {
        transition: all .8s;
    }
}