@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";
@import "../animation/animation";

$modal: "#{$prefixCls}modal";
.#{$modal} {
    &-mask {
        @include mask(rgba($black, .2), 999);
    }
    &-wrap {
        @include mask(transparent, 1000);
        text-align: center;
        &::after {
            content: "";
            display: inline-block;
            height: 90%;
            vertical-align: middle;
        }
    }
    &-main {
        background-color: $white;
        box-shadow: 0 2px 8px rgba($black, .05);
        border-radius: $border-radius-large;
        box-sizing: border-box;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        .#{$modal}-header {
            padding: 30px 50px 15px 20px;
            box-shadow: 0 2px 8px 0 rgba($black, .05);
            position: relative;
            &-title {
                font-size: $font-size-large;
                color: $main-dark;
                @include no-wrap();
            }
            &-close {
                position: absolute;
                cursor: $cursor-pointer;
                top: 30px;
                right: 20px;
            }
        }
        .#{$modal}-container {
            padding: 25px 20px;
        }
        .#{$modal}-footer{
            padding: 25px 40px 20px;
            border-top: 1px solid $border-color;
            display: flex;
            flex-direction: row-reverse;
            &-btn {
                button {
                    margin: 0 10px;
                }
            }
        }
    }
    @include ease(modal-ease-in, quiEase);
    @include fade(fade-modal-mask, quiFade)
}
//fade-modal-mask
