@charset "utf-8";
@import "../common/_var";
@import "../mixins/_mixin";

$prefixPage: "#{$prefixCls}page";
$page: "page";

.#{$prefixPage} {
    display: flex;
    &Size {
        font-size: $font-size-base;
        color: $main;
        @include setH(32px);
        margin-left: 5px;
    }
    .#{$page} {
        &-list {
            display: flex;
            &.#{$page}-list-circle {
                .#{$page}-item {
                    @include wh(30px);
                    line-height: 30px;
                    border-radius: 50%;
                    font-size: $font-size-small;
                }
            }
        }
        
        &-item {
            @include wh(32px);
            text-align: center;
            line-height: 32px;
            @include border($lightC);
            margin: 0 5px;
            cursor: $cursor-pointer;
            font-size: $font-size-base;
            color: $main;
            border-radius: $border-radius-middle;
            user-select: none;
            transition: all $animate-time;
            &:hover {
                color: $primary;
                border-color: $primary;
                box-shadow: 0 0 4px 0 rgba($primary, .3);
            }
            &:active {
                box-shadow: none;
            }
            &.#{$page}-active {
                @extend .#{$page}-item:hover;
            }
        }
        &-next-fast, &-prev-fast {
            color: $lightC;
            @include wh(30px, 32px);
            text-align: center;
            line-height: 32px;
            padding-top: 3px;
            &:hover {
                color: $primary;
                cursor: $cursor-pointer;
            }
        }
        &-next-fast {
            transform: rotate(180deg);
        }
        &-prev {
            @extend .#{$page}-item;
            color: $main;
            &:hover {
                color: $primary;
                box-shadow: 0 0 4px 0 rgba($primary, .3);
            }
            &-disabled {
                cursor: $cursor-disabled;
                color: $lightC;
                &:hover {
                    box-shadow: none;
                    color: $lightC;
                    border-color: $lightC;
                }
            }
            
        }
        &-next {
            @extend .#{$page}-prev;
            &-disabled {
                @extend .#{$page}-prev-disabled;
                &:hover {
                    @extend .#{$page}-prev-disabled:hover;
                }
            }
        }
    }
}