@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$radio: "#{$prefixCls}radio";

.#{$radio} {
    font-size: 0;
    cursor: $cursor-pointer;
    box-sizing: border-box;
    &-icon {
        position: relative;
        display: inline-block;
        @include wh($radio-height);
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: middle;
        border: 1px solid $lightC;
        box-sizing: border-box;
        transition: all $animate-time;
        .#{$radio}-ipt {
            @include opacityCovert();
            cursor: $cursor-pointer;
        }
        &:after { 
            content: ''; 
            @include absolute();
            margin-left: -3px; 
            margin-top: -3px; 
            border: 3px solid $primary; 
            border-radius: 50%; 
            background-color: $primary; 
            transition: all $animate-time; 
            transform: scale(0); 
        }
        &.#{$radio}-active {
            @include border($primary, $primary);
            &::after {
                border-color: $white;
                transform: scale(1);
            }
            & + .#{$radio}-value {
                color: $main-dark;
            }
        }
    }
    &-value {
        display: inline-block;
        font-size: $font-size-base;
        color: $main;
        vertical-align: middle;
        margin-right: 10px;
    }
    &:hover {
        .#{$radio}-icon {
            @include border($primary);
        }
    }

    &-disabled {
        cursor: $cursor-disabled;
        .#{$radio}-icon {
            @include border($lightC, $border-color);
            .#{$radio}-ipt { 
                cursor: $cursor-disabled;
            }
            &.#{$radio}-active {
                @include border($lightC, $lightC);
            }
        }
        &:hover {
            .#{$radio}-icon {
                border-color: $lightC;
            }
        }
        .#{$radio}-value {
            color: $main-light;
        }

    }

}