@charset "urf-8";
@import "../common/var";
@import "../mixins/mixin";

$select: "#{$prefixCls}select";

.#{$select} {
    position: relative;
    @include wh(200px, 38px);
    line-height: 38px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-radius: $border-radius-middle;
    color: $main;
    font-size: $font-size-base;
    cursor: $cursor-pointer;

    &:hover{
        border-color: $primary;
    }
    &:active {
        border-color: $primary;
    }
    &-active {
        border-color: $primary;
    }
    &-arrow {
        @include absolute;
        transition: all .5s;
        left: 180px;
        &.#{$select}-down {
            transform: rotate(0deg);
            margin-top: -4px;
        }
        &.#{$select}-up {
            transform: rotate(-180deg);
            margin-top: -8px;
        }
    }

    &-main {
        padding-left: 10px;
        padding-right: 20px;
        height: 100%;
        .#{$select}-value {
            display: block;
            @include no-wrap();
        }
    }
    &-input {
        border: none;
        outline: none;
        width: 90%;
    }
    &-dropdown {
        position: relative;
        box-sizing: border-box;
        padding-top: 6px;
        margin-top: 1px;
        z-index: 998;
        background: $white;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 2px 14px 0 rgba(50, 60, 71, .15);
        overflow: hidden;
        .#{$select}-option {
            padding: 0 15px;
            line-height: 32px;
            // margin-top: 2px;
            color: $main;
            font-size: $font-size-small;
            @include no-wrap();
            transition: all $animate-time;
            cursor: $cursor-pointer;
            &:first-child {
                margin-top: 0;
            }
            &:hover, &:active {
                background-color: rgba($primary, .1);
            }
            &.#{$select}-option-active {
                background-color: rgba($primary, .1);
            }
        }
    }
    &-disabled {
        color: $main-light;
        cursor: $cursor-disabled;
        &:hover {
            border-color: $border-color;
        }
        &:active {
            border-color: $border-color;
        }
    }
    &.#{$select}-large {
        @include wh(240px, 46px);
        line-height: 46px;
        .#{$select}-arrow {
            left: 220px;
        }
    }
    &.#{$select}-small {
        @include wh(160px, 26px);
        line-height: 26px;
        .#{$select}-arrow {
            left: 140px;
        }
    }
}