@charset "utf-8";
@import "../common/_var";
@import "../mixins/_mixin";

$steps: "#{$prefixCls}steps";

.#{$steps} {
    font-size: $font-size-base;
    color: $main;

    &.#{$steps}-row {
        display: flex;
        .#{$steps}-item {
            flex: 1;
            overflow: hidden;
            .#{$steps}-content{
                width: calc(100% - 36px);
                padding: 0 5px;
                box-sizing: border-box;
            }
            .title {
                padding-right: 5px;
                display: inline-block;
                background: $white;
                position: relative;
                z-index: 1;
            }
            .line {
                background: $lightC;
                height: 1px;
                width: calc(100% - 46px);
                left: 41px;
                position: relative;
                top: 17px;
            }
            .summary {
                @include no-wrap();
            }
        }
    }
    &.#{$steps}-column {
        .#{$steps}-item {
            height: 140px;
            .#{$steps}-content {
                height: 100%;
                box-sizing: border-box;
                padding-bottom: 20px;
                overflow: hidden;
                .summary {
                    height: 80px;
                    overflow: hidden;
                }
            }
            .#{$steps}-icon {
                margin-right: 8px;
            }
        }
        .line {
            height: calc(100% - 46px);
            width: 1px;
            background: $lightC;
            position: relative;
            left: 17px;
            top: 41px;
            &.no-border-line {
                left: 13px;
            }
        }
    }
    &-item {
        position: relative;
        .#{$steps}-icon {
            float: left;  
            @include wh(34px);
            @include border($lightC);
            border-radius: 50%;
            text-align: center;
            line-height: 34px;  
            &.no-border {
                border: none;
                @include wh(26px)
            }
        }
        .#{$steps}-content {
            float: left;
            width: calc(100% - 45px);
        }
        &.#{$steps}-active {
            .#{$steps}-icon {
                border-color: $primary;
            }
            .step-icon {
                color: $primary;
            }
            .title {
                color: $main-dark;
            }
        }
        &.#{$steps}-finished {
            .#{$steps}-icon {
                border-color: $primary;
                .active {
                    display: block;
                    height: 100%;
                    color: $primary;
                }
            }
            .line {
                background: $primary !important;
            }
        }
        &.#{$steps}-error {
            .#{$steps}-icon {
                border-color: $error;
                .error-icon {
                    display: block;
                    color: $error;
                }
            }
            .line {
                background: $error !important;
            }
            .title, .summary {
                color: $error;
            }
        }
        &.#{$steps}-err {
            .line {
                background: $primary !important;
            }
        }
        .title {
            font-weight: 600;
            @include setH(34px);
        }
    }
}