@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$switchPrefix: "#{$prefixCls}switch";
$s: "switch";
$c: #ccc;

.#{$switchPrefix} {
    cursor: $cursor-pointer;
    user-select: none;
    transition: all 1s;
    position: relative;
    &.#{$switchPrefix}-disabled {
        opacity: .6;
        cursor: $cursor-disabled;
    }
    &-middle {
        @include wh(44px, 22px);
        height: 22px;
        min-width: 44px;
        @include border($lightC, $c);
        border-radius: 11px;
        .#{$switchPrefix}-inner {
            @include wh(22px);
            border-radius: 11px;
        }
        .#{$switchPrefix}-txt {
            width: 24px;
            .close {
                margin-left: 20px;
            }
        }
    }
    &-large {
        @include wh(56px, 22px);
        @include border($lightC, $c);
        border-radius: 11px;
        .#{$switchPrefix}-inner {
            @include wh(22px);
            border-radius: 11px;
        }
    }
    &-small {
        @include wh(28px, 16px);
        @include border($lightC, $c);
        border-radius: 9px;
        .#{$switchPrefix}-inner {
            @include wh(16px);
            border-radius: 8px;
        }
        .#{$switchPrefix}-txt { 
            width: 12px;
            .open {
                @include setH(18px, 16px);
            }
            .close {
                @include setH(18px, 16px);
                margin-left: 16px;
            }
        }
        .#{$switchPrefix}-inner {
            transition: all $animate-time;
        }
    }
    &-inner {
        background: $white;
        box-sizing: border-box;
        position: absolute;
        transform: translateX(0);
        transition: all .6s;
    }
    &-active {
        background: $blue;
        border-color: $blue;
        &.#{$switchPrefix}-small {
            .#{$switchPrefix}-inner {
                transform: translateX(12px);
            }
        }
        &.#{$switchPrefix}-middle {
            .#{$switchPrefix}-inner {
                transform: translateX(22px);
            }
        }
        &.#{$switchPrefix}-large {
            .#{$switchPrefix}-inner {
                transform: translateX(34px);
            }
        }
    }

    &-txt {
        font-size: $font-size-small;
        color: $white;
        .open {
            width: 100%;
            @include setH(22px);
            text-align: center;
            overflow: hidden;
        }
        .close {
            @extend .open;
            margin-left: 24px;
        }
    }


}