@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$textarea: "#{$prefixCls}textarea";

.#{$textarea}-main {
    vertical-align: middle;

    .#{$textarea} {
        box-sizing: border-box;
        @include wh(320px, 80px);
        outline: none;
        padding: 10px;
        @include border($lightC);
        color: $main;
        font-size: $font-size-base;
        border-radius: $border-radius-middle;
        &:focus {
            border-color: $primary;
            outline: 0;
            box-shadow: 0 0 5px rgba($primary, .5);
        }
        &-readonly {
            cursor: $cursor-disabled;
            resize: none;
            &:focus {
                border-color: $lightC;
                box-shadow: none;
            }
        }
        &-disabled {
            cursor: $cursor-disabled;
            background-color: $white;
            color: $main-light;
            resize: none;
            &:focus {
                border-color: $lightC;
                box-shadow: none;
            }
        }
    }

    &.#{$textarea}-large {
        .#{$textarea} {
            @include wh(360px, 100px);
        }   
    }

    &.#{$textarea}-small {
        .#{$textarea} {
            @include wh(260px, 60px);
        }
    }

    &.#{$textarea}-error {
        &.#{$textarea}-right {
            display: flex;      
            align-items: flex-end; 
            .right {
                margin-left: 10px;
            }
            
        }
        .#{$textarea} {
            color: $error;
            border-color: $error;
            &:focus {
                box-shadow: 0 0 5px rgba($error, .5);
            }
        }
        .#{$textarea}-err {
            @include setH(25px);
            &-text {
                color: $error;
                font-size: $font-size-small;
            }
        }        
    }

    

}