@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$upload: "#{$prefixCls}upload";

.#{$upload} {
    &-input {
        display: none;
    }

    &-list {
        margin-top: 8px;
        &-file {
            padding: 4px;
            color: $main;
            font-size: $font-size-base;
            border-radius: $border-radius-small;
            position: relative;
            overflow: hidden;
            transition: background-color $animate-time $ease-in-out;
            & > span {
                cursor: pointer;
                transition: color $animate-time $ease-in-out;
                i {
                    margin-right: 5px;
                }
            }

            &:hover {
                background: rgba($primary, .08);
                & > span {
                    color: $primary;
                }
                .#{$upload}-list-remove {
                    opacity: 1;
                }
            }
            &.#{$upload}-list-file-error {
                color: $error;
                &:hover {
                    & > span {
                        color: $error;
                    }
                    .#{$upload}-list-remove {
                        opacity: 1;
                        color: $error;
                    }
                }
            }
            
        }
        &-remove{
            opacity: 0;
            font-size: 18px;
            cursor: pointer;
            float: right;
            margin-right: 4px;
            color: $main;
            transition: all $animate-time ease;
            &:hover{
                color: #444;
            }
        }
    }
    &-select {
        display: inline-block;
    }

    &-drag {
        background: $white;
        border: 1px dashed $lightC;
        border-radius: $border-radius-small;
        text-align: center;
        cursor: $cursor-pointer;
        position: relative;
        overflow: hidden;
        transition: border-color $animate-time-middle ease;
        &:hover {
            border: 1px dashed $primary;
        }
    }

    &-dragOver {
        border: 2px dashed $primary;
    }


}