@charset "utf-8";
@import "../common/var";
@import "../mixins/mixin";

$up: "upload";
$uploadPrefix: "#{$prefixCls}#{$up}";
// $camera: "http://p0.qhimg.com/t01ec4be02f4f0e79d4.png";
$opacity: .6;
.disabed-color {
    color: rgba($main, $opacity);
    border-color: rgba($lightC, $opacity);
}

.#{$uploadPrefix} {
    font-size: 0;

    &.#{$uploadPrefix}-disabled {
        .#{$up} {
            cursor: $cursor-disabled;  
        }
        .#{$up}-default {
            &::after {
                opacity: $opacity;
            }
            &::before {
                opacity: $opacity;
            }
            @extend .disabed-color;
            &:hover {
                @extend .disabed-color;
            }
        }
        .#{$up}-other{
            @extend .disabed-color;
            &:hover {
                @extend .disabed-color;
            }
        }
    }

    .#{$up} {
        transition: all $animate-time;    
        cursor: $cursor-pointer;
        &-default {
            @include wh(80px);
            border: 1px dashed $lightC;
            background: $border-color;
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                @include absolute();
                width: 30px;
                height: 2px;
                transform: translate(-50%, -50%);
                background: $main;
            }
            &::before {
                @extend .#{$up}-default::after;
                width: 2px;
                height: 30px;
            }
            &:hover {
                border-color: $blue;
            }
            .file {
                
            }
        }

        &-other {
            display: inline-block;
            padding: 5px 10px;
            @include border($lightC);
            border-radius: $border-radius-middle;
            color: $main;
            position: relative;
            &:hover {
                color: $blue;
                border-color: $blue;
            }
            .file {
                position: absolute;
                top: 0;
                left: 0;
            }
            .#{$up}-btn {
                font-size: $font-size-base;
                // .camera {
                //     background: url(#{$camera}) no-repeat;
                //     position: absolute;
                //     @include wh(22px, 19px);
                //     background-position:left 2;
                //     background-size:22px 19px;
                // }
            }
        }
    }

    .svg-icon {
        width: 1em; 
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
    }
    .file {
        user-select: none;
        @include wh(100%);
        font-size: 0;
        opacity: 0;
        cursor: pointer;
    }


}