@charset "utf-8";
.alert-fade-in-move-up-enter-active, .alert-fade-in-move-up-leave-active {
    transition: all $animate-time ease-out;
    transform: none;
    opacity: 1;
}
.alert-fade-in-move-up-enter, .alert-fade-in-move-up-leave-to {
    transform: translate(0,-5px);
    opacity: 0;
}