@charset "utf-8";
.menu-move-up-enter-active, .menu-move-up-leave-active {
    transition: all $animate-time ease-out;
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
    
  }
.menu-move-up-enter, .menu-move-up-leave-to {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
}

 .menu-move-down-leave-active {
    transition: all $animate-time ease-out;
    opacity: 0;
    // transform-origin: 0% 0%;
    transform: scaleY(.8);
    // transform: translateY(-50px);
  }
// .menu-move-down-enter, .menu-move-down-leave-to {
//     opacity: 1;
//     transform-origin: 0% 0%;
//     transform: scaleY(1);
// }