.qui-icon-success:before {
    content: "\f001";
}

.qui-icon-error:before {
    content: "\f002";
}

.qui-icon-warning:before {
    content: "\f003";
}
.qui-icon-warning-circle:before {
    content: "\f004";
}

.qui-icon-question:before {
    content: "\f005";
}

.qui-icon-question-circle:before {
    content: "\f006";
}

.qui-icon-smile-fill:before {
    content: "\f007";
}

.qui-icon-meh-fill:before {
    content: "\f008";
}

.qui-icon-frown-fill:before {
    content: "\f009";
}

.qui-icon-smile:before {
    content: "\f010";
}

.qui-icon-meh:before {
    content: "\f011";
}

.qui-icon-frown:before {
    content: "\f012";
}

.qui-icon-wrong:before {
    content: "\f013";
}

.qui-icon-check:before {
    content: "\f014";
}

.qui-icon-woman:before {
    content: "\f015";
}

.qui-icon-man:before {
    content: "\f016";
}

.qui-icon-caret-down:before {
    content: "\f017";
}

.qui-icon-caret-up:before {
    content: "\f018";
}

.qui-icon-caret-right:before {
    content: "\f019";
}

.qui-icon-caret-left:before {
    content: "\f020";
}

.qui-icon-doubleright:before {
    content: "\f021";
}

.qui-icon-doubleleft:before {
    content: "\f022";
}

.qui-icon-left:before {
    content: "\f023";
}

.qui-icon-right:before {
    content: "\f024";
}

.qui-icon-arrow-right:before {
    content: "\f025";
}

.qui-icon-arrow-left:before {
    content: "\f026";
}

.qui-icon-arrow-up:before {
    content: "\f027";
}

.qui-icon-arrow-down:before {
    content: "\f028";
}

.qui-icon-plane-fill:before {
    content: "\f029";
}

.qui-icon-plane:before {
    content: "\f030";
}

.qui-icon-ellipsis:before {
    content: "\f031";
}

.qui-icon-search:before {
    content: "\f032";
}

.qui-icon-empty-box:before {
    content: "\f033";
}

.qui-icon-empty:before {
    content: "\f034";
}

.qui-icon-safe:before {
    content: "\f035";
}

.qui-icon-eyeclose-fill:before {
    content: "\f036";
}

.qui-icon-eye-fill:before {
    content: "\f037";
}

.qui-icon-eye-close:before {
    content: "\f038";
}

.qui-icon-eye:before {
    content: "\f039";
}

.qui-icon-logout:before {
    content: "\f040";
}

.qui-icon-YUAN-circle-fill:before {
    content: "\f041";
}

.qui-icon-YUAN:before {
    content: "\f042";
}

.qui-icon-propertysafety:before {
    content: "\f043";
}

.qui-icon-propertysafety-fill:before {
    content: "\f044";
}

.qui-icon-insurance:before {
    content: "\f045";
}

.qui-icon-insurance-fill:before {
    content: "\f046";
}

.qui-icon-wechat:before {
    content: "\f047";
}

.qui-icon-QQ:before {
    content: "\f048";
}

.qui-icon-QQ-fill:before {
    content: "\f049";
}

.qui-icon-weibo:before {
    content: "\f050";
}

.qui-icon-weibo-fill:before {
    content: "\f051";
}

.qui-icon-collect:before {
    content: "\f052";
}

.qui-icon-collected:before {
    content: "\f053";
}

.qui-icon-user:before {
    content: "\f054";
}

.qui-icon-team:before {
    content: "\f055";
}

.qui-icon-unlike-fill:before {
    content: "\f056";
}

.qui-icon-like-fill:before {
    content: "\f057";
}

.qui-icon-like:before {
    content: "\f058";
}

.qui-icon-unlike:before {
    content: "\f059";
}

.qui-icon-lock-fill:before {
    content: "\f060";
}

.qui-icon-unlock-fill:before {
    content: "\f061";
}

.qui-icon-unlock:before {
    content: "\f062";
}

.qui-icon-lock:before {
    content: "\f063";
}

.qui-icon-gift:before {
    content: "\f064";
}

.qui-icon-gift-fill:before {
    content: "\f065";
}

.qui-icon-camera:before {
    content: "\f066";
}

.qui-icon-camera-fill:before {
    content: "\f067";
}

.qui-icon-redenvelope-fill:before {
    content: "\f068";
}

.qui-icon-redenvelope:before {
    content: "\f069";
}

.qui-icon-bug:before {
    content: "\f070";
}

.qui-icon-bug-fill:before {
    content: "\f071";
}

.qui-icon-home:before {
    content: "\f072";
}

.qui-icon-home-fill:before {
    content: "\f073";
}

.qui-icon-bank-fill:before {
    content: "\f074";
}

.qui-icon-bank:before {
    content: "\f075";
}

.qui-icon-error_tip:before {
    content: "\f076";
}

.qui-icon-error_tip-fill:before {
    content: "\f077";
}

.qui-icon-android:before {
    content: "\f078";
}

.qui-icon-android-fill:before {
    content: "\f079";
}

.qui-icon-apple:before {
    content: "\f080";
}

.qui-icon-apple-fill:before {
    content: "\f081";
}

.qui-icon-save:before {
    content: "\f082";
}

.qui-icon-save-fill:before {
    content: "\f083";
}

.qui-icon-read:before {
    content: "\f084";
}

.qui-icon-read-fill:before {
    content: "\f085";
}

.qui-icon-email:before {
    content: "\f086";
}

.qui-icon-cloud-download:before {
    content: "\f087";
}

.qui-icon-cloud-upload:before {
    content: "\f088";
}

.qui-icon-idcard:before {
    content: "\f089";
}

.qui-icon-idcard-fill:before {
    content: "\f090";
}

.qui-icon-experiment:before {
    content: "\f091";
}

.qui-icon-experiment-fill:before {
    content: "\f092";
}

.qui-icon-delete:before {
    content: "\f093";
}

.qui-icon-net-error:before {
    content: "\f094";
}

.qui-icon-sliders-fill:before {
    content: "\f095";
}

.qui-icon-sliders:before {
    content: "\f096";
}

.qui-icon-printer-fill:before {
    content: "\f097";
}

.qui-icon-printer:before {
    content: "\f098";
}

.qui-icon-audit:before {
    content: "\f099";
}

.qui-icon-ie:before {
    content: "\f100";
}

.qui-icon-ie-fill:before {
    content: "\f101";
}

.qui-icon-bg-colors:before {
    content: "\f102";
}

.qui-icon-barchart:before {
    content: "\f103";
}

.qui-icon-linechart:before {
    content: "\f104";
}

.qui-icon-areachart:before {
    content: "\f105";
}

.qui-icon-piechart:before {
    content: "\f106";
}

.qui-icon-schedule:before {
    content: "\f107";
}

.qui-icon-Partition:before {
    content: "\f108";
}

.qui-icon-apartment:before {
    content: "\f109";
}

.qui-icon-Report:before {
    content: "\f110";
}

.qui-icon-monitor:before {
    content: "\f111";
}

.qui-icon-unorderedlist:before {
    content: "\f112";
}

.qui-icon-menu:before {
    content: "\f113";
}

.qui-icon-creditcard:before {
    content: "\f114";
}

.qui-icon-datas:before {
    content: "\f115";
}

.qui-icon-dollar:before {
    content: "\f116";
}

.qui-icon-shop:before {
    content: "\f117";
}

.qui-icon-cluster:before {
    content: "\f118";
}

.qui-icon-close:before {
    content: "\f119";
}

.qui-icon-time:before {
    content: "\f120";
}

.qui-icon-calendar:before {
    content: "\f121";
}

.qui-icon-cloud:before {
    content: "\f122";
}

.qui-icon-mobile:before {
    content: "\f123";
}

.qui-icon-phone:before {
    content: "\f124";
}

.qui-icon-notice:before {
    content: "\f125";
}

.qui-icon-notice-forbid:before {
    content: "\f126";
}

.qui-icon-horn:before {
    content: "\f127";
}

.qui-icon-empty-tips:before {
    content: "\f128";
}

.qui-icon-car:before {
    content: "\f129";
}

.qui-icon-verified:before {
    content: "\f130";
}

.qui-icon-safety-fill:before {
    content: "\f131";
}

.qui-icon-safety:before {
    content: "\f132";
}

.qui-icon-star:before {
    content: "\f133";
}

.qui-icon-starhalf:before {
    content: "\f134";
}

.qui-icon-staroutline:before {
    content: "\f135";
}

.qui-icon-setting:before {
    content: "\f136";
}

.qui-icon-setting-fill:before {
    content: "\f137";
}

.qui-icon-caveat:before {
    content: "\f138";
}

.qui-icon-plus:before {
    content: "\f139";
}

.qui-icon-rise:before {
    content: "\f140";
}

.qui-icon-fall:before {
    content: "\f141";
}

.qui-icon-heart-fill:before {
    content: "\f142";
}

.qui-icon-heart:before {
    content: "\f143";
}

.qui-icon-barcode:before {
    content: "\f144";
}

.qui-icon-flag:before {
    content: "\f145";
}

.qui-icon-flag-fill:before {
    content: "\f146";
}

.qui-icon-tools:before {
    content: "\f147";
}

.qui-icon-file-image:before {
    content: "\f148";
}

.qui-icon-file-image-fill:before {
    content: "\f149";
}

.qui-icon-file-word-fill:before {
    content: "\f150";
}

.qui-icon-file-word:before {
    content: "\f151";
}

.qui-icon-file-zip:before {
    content: "\f152";
}

.qui-icon-file-zip-fill:before {
    content: "\f153";
}

.qui-icon-file-pdf-fill:before {
    content: "\f154";
}

.qui-icon-file-pdf:before {
    content: "\f155";
}

.qui-icon-file-ppt-fill:before {
    content: "\f156";
}

.qui-icon-file-ppt:before {
    content: "\f157";
}

.qui-icon-file-excel-fill:before {
    content: "\f158";
}

.qui-icon-file-excel:before {
    content: "\f159";
}

.qui-icon-file-markdown-fill:before {
    content: "\f160";
}

.qui-icon-file-markdown:before {
    content: "\f161";
}

.qui-icon-file-text-fill:before {
    content: "\f162";
}

.qui-icon-file-text:before {
    content: "\f163";
}

.qui-icon-file-unknown-fill:before {
    content: "\f164";
}

.qui-icon-file-unknown:before {
    content: "\f165";
}

.qui-icon-diff:before {
    content: "\f166";
}

.qui-icon-diff-fill:before {
    content: "\f167";
}

.qui-icon-file-copy:before {
    content: "\f168";
}

.qui-icon-file-copy-fill:before {
    content: "\f169";
}
