.qui-icon-person:before {
    content: "\e63a";
}

.qui-icon-mobile:before {
    content: "\e611";
}

.qui-icon-success:before {
    content: "\e613";
}

.qui-icon-plane-empty:before {
    content: "\e6cb";
}

.qui-icon-arrow-right:before {
    content: "\e621";
}

// .qui-icon-notice:before {
//     content: "\e63c";
// }

.qui-icon-warning:before {
    content: "\e65c";
}

.qui-icon-setting:before {
    content: "\e609";
}

.qui-icon-arrow-l-2:before {
    content: "\e649";
}

.qui-icon-search:before {
    content: "\e644";
}
//1
.qui-icon-check:before {
    content: "\e61e";
}

.qui-icon-phone_2:before {
    content: "\e679";
}

.qui-icon-safe_2:before {
    content: "\e681";
}

.qui-icon-charts:before {
    content: "\e61c";
}

.qui-icon-arrow-down:before {
    content: "\e61a";
}

.qui-icon-arrow-up:before {
    content: "\e622";
}

.qui-icon-phone:before {
    content: "\e62e";
}

.qui-icon-tips:before {
    content: "\e623";
}

.qui-icon-plane:before {
    content: "\e63b";
}

.qui-icon-arrow_2:before {
    content: "\e620";
}
//2
.qui-icon-arrow-r-2:before {
    content: "\e624";
}

.qui-icon-camera:before {
    content: "\e670";
}

.qui-icon-notice1:before {
    content: "\e673";
}

.qui-icon-arrow-left:before {
    content: "\e64c";
}

.qui-icon-star:before {
    content: "\e741";
}

.qui-icon-email:before {
    content: "\e643";
}

.qui-icon-time:before {
    content: "\e636";
}

.qui-icon-upload-up:before {
    content: "\e65d";
}

.qui-icon-notice-empty:before {
    content: "\e60c";
}

.qui-icon-notice_fill:before {
    content: "\e60d";
}
//3
// .qui-icon-gengduo1:before {
//     content: "\e614";
// }

.qui-icon-warning-sign:before {
    content: "\e601";
}

.qui-icon-arrow:before {
    content: "\e60b";
}

.qui-icon-lock:before {
    content: "\e642";
}

.qui-icon-wrong:before {
    content: "\e632";
}

.qui-icon-cheat:before {
    content: "\e7c9";
}

.qui-icon-notice_forbid_fill:before {
    content: "\e7f7";
}

.qui-icon-arrow_large:before {
    content: "\e64b";
}

.qui-icon-upload:before {
    content: "\e607";
}

.qui-icon-empty:before {
    content: "\e630";
}
//4
.qui-icon-main:before {
    content: "\e616";
}

// .qui-icon-laba:before {
//     content: "\e62d";
// }

.qui-icon-computer:before {
    content: "\e75e";
}

.qui-icon-error:before {
    content: "\e646";
}

.qui-icon-card:before {
    content: "\e61f";
}

.qui-icon-bug:before {
    content: "\e600";
}

.qui-icon-car:before {
    content: "\ef5d";
}

.qui-icon-eye:before {
    content: "\f28f";
}

.qui-icon-delete:before {
    content: "\e64a";
}

.qui-icon-gantanhao:before {
    content: "\e765";
}
//5
.qui-icon-home:before {
    content: "\e645";
}

.qui-icon-tishi_zanshimuyouneirong:before {
    content: "\e60e";
}

.qui-icon-file:before {
    content: "\e61d";
}

.qui-icon-monitor:before {
    content: "\e6cf";
}

.qui-icon-empty-dark:before {
    content: "\e602";
}

.qui-icon-close:before {
    content: "\e69e";
}

.qui-icon-folder:before {
    content: "\e721";
}

.qui-icon-notice:before {
    content: "\e619";
}

.qui-icon-calendar:before {
    content: "\e615";
}

.qui-icon-dot:before {
    content: "\e659";
}
//6
.qui-icon-net-error:before {
    content: "\e61b";
}

.qui-icon-safe:before {
    content: "\e865";
}

.qui-icon-close-eye:before {
    content: "\e62f";
}

.qui-icon-page-left:before {
    content: "\e617";
}

.qui-icon-page-right:before {
    content: "\e618";
}

.qui-icon-empty-box:before {
    content: "\e709";
}

.qui-icon-cloud:before {
    content: "\e9d6";
}

.qui-icon-line:before {
    content: "\e60a";
}

.qui-icon-person_2:before {
    content: "\e8ae";
}

.qui-icon-arrow-up-fill::before {
    content: "\e69a";
}

.qui-icon-arrow-down-fill::before {
    content: "\e699";
}
