@charset "utf-8";

//项目前缀
$prefixCls: "qui-";
//字体
$fontFamily: "Microsoft Yahei", "微软雅黑", Arial, sans-serif, "PingFang SC", "Hiragino Sans GB";

$font-size-base: 14px;

$font-size-small: 12px;

$font-size-medium: 16px;

$font-size-large: 18px;
//圆角
$border-radius-middle: 4px;

$border-radius-small: 2px;

$border-radius-large: 6px;

//鼠标
$cursor-disabled: not-allowed;

$cursor-pointer: pointer;

//动画时间
$animate-time: .3s;
$animate-time-quick: .15s;
$animate-time-middle: .2s;
$ease-in-out: ease-in-out;

//主题色
$primary: #0074ff !default;
$primary-active: #0064da !default;
$primary-dark: #006def !default;
$primary-disabled: #9fcbff !default;
$primary-mask: #f0faff !default;
$main: #727682 !default;

//状态色
$success: #23ac38 !default;
$error: #f52f3e !default;
$warning: #f90 !default;


//颜色
$white: #fff;
$black: #000;
$elebg: #f6f8fc;


//字体颜色
$main-dark: #283039;
$main-light: #bec1ca;

//弱色
$lightC: #bec1ca;

// 分隔线、边框                              
$border-color: #f0f2f5;

//滚动条
$scroll: #c1c4cc;

//蓝色
$blue: #0074ff;
$blue-dark: #006def;
$blue-active: #0064da;
$blue-disabled: #9fcbff;

$disable-opacity: .6;

$button-disabled-opacity: .2;

$green:#23ac38;
$green-dark: #19912b;
$green-light: #86e694;
$green-mask: #e4f8ee;
// 橙色
$orange: #ffb540;
$orange-dark: #f90;
// 红色
$red: #f52f3e;
$red-dark: #de2b38;
$red-disabled: #feadb3;

