@charset "utf-8";
@import "../common/var";

@mixin make-row($gutter: $grid-gutter-width) {
    position: relative;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
    height: auto;
}

@mixin res($key, $map: $breakpoints) {
    // 循环断点Map，如果存在则返回
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
        @content;
        }
    } @else {
        @warn "Undefeined points: `#{$map}`";
    }
}