@charset "utf-8";
@import "../common/var";

//宽高
@mixin wh($width, $height:$width) {
    width: $width;
    height: $height;
}
//文本居中
@mixin center($height: 100%) {
    height: $height;
    line-height: $height;
    text-align: center;
}

//设置高度，行高
@mixin setH($height, $lineHeight: $height) {
    height: $height;
    line-height: $lineHeight;
}

//flex
@mixin flex($direction: row, $justify-content: flex-start, $aligh-items: flex-start, $flex-wrap: nowrap) {
    display: flex;
    direction: $direction;
    justify-content: $justify-content;
    align-items: $aligh-items;
    flex-wrap: $flex-wrap;
}

//不换行
@mixin no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


//按钮box-shadow
@mixin boxShadow($color, $inset) {
    @if ($inset) {
        box-shadow: $inset 0 0 15px rgba($color, .05);
    } @else {
        box-shadow: 0 0 15px rgba($color, .05);
    }
}

//按钮disabled
@mixin btnDisabled ($bgc, $bdc, $color: $lightC) {
    box-shadow: none;
    cursor: $cursor-disabled;
    background-color: $bgc;
    border-color: $bdc;
    color: $color;
}


//绝对定位
@mixin absolute($left: 50%, $top: 50%) {
    position: absolute;
    left: $left;
    top: $top;
}

//主题色的border
@mixin border($color: $blue, $bg: null) {
    border: 1px solid $color;
    @if $bg {
        background-color: $bg;
    }
}

//模块剧中
@mixin centerBox {
    display: -webkit-box;
    box-pack: center;
    -webkit-box-pack: center;
    box-align: center;
    -webkit-box-align: center;
}